@font-face {
font-family: 'GmarketSansMedium';
src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
font-weight: normal;
font-style: normal;
}
    

.input-form {
    max-width: 680px;

    margin-top: 80px;
    padding: 32px;

    background: #f1f3ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

form div, label, h4, p{
    font-family: 'GmarketSansMedium';
    color: black;
}