@charset "UTF-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
  font-family: "Nanum Gothic", sans-serif;
}

* {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 300;
  letter-spacing: -0.083em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.h100vh {
  height: 100vh;
}

.updateDate img {
  width: 100px;
}

.white-space-prewrap {
  white-space: pre-wrap;
}

/* 폰트 */
.font-yes {
  font-family: "Yeseva One";
}

.letter-spacing {
  letter-spacing: 0.3em;
}

.songmyung {
  color: black;
  font-family: "Song Myung";
  font-size: 3.5rem;
}

.juasub {
  font-family: "Jua";
  font-size: 1.5rem;
}

.nanummyeongsub {
  font-family: "Nanum+Myeongjo";
  font-size: 1.2rem;
  color: black;
}

/* 섹션 */
section {
  max-width: 1920px;
  height: 1024px;
}

section:not(#home, .pjtsection) {
  padding: 4rem 10rem 0 10rem;
}

#drunkenmonkey {
  padding: 4rem 10rem;
}

footer {
  background: #D9D9D9;
  padding: 0 10rem;
}

.pjtsection {
  padding: 0rem 10rem 5rem 10rem;
  height: auto !important;
}
.pjtsection .pjtheight {
  height: 600px !important;
}
.pjtsection .pjtheight img {
  width: 80%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

#home, #about, #contact {
  background-color: black;
  color: #ffffff;
}

#skill, #project {
  background-color: #ffffff;
  color: #000;
}

#root a {
  color: black;
}
#root a:hover {
  color: rgb(227, 96, 73);
}
#root h1 {
  max-width: 9.5rem;
}
#root h1 svg {
  height: 2.8rem;
  transform: translateY(-30%);
  transform-origin: center;
  transition: 0.5s;
}
#root h1 svg #blackIcon {
  transform: translateY(-200%);
  transition: 0.5s;
}
#root h1 svg #deaback {
  transform: translateY(-200%);
  transition: 0.5s;
}
#root .text-align-right {
  text-align: right;
}
#root .lemontitle {
  font-family: "Lemon";
  font-style: normal;
  font-weight: 400;
  font-size: 4.5rem;
  line-height: 131px;
}
#root #hd {
  font-size: 30px;
  background-color: transparent;
}
#root #hd a {
  color: white;
}
#root #hd.scroll {
  background-color: rgba(0, 0, 0, 0.5);
}
#root #hd #allMenu {
  font-weight: 500;
}
#root .workSection .swiper-wrapper .swiper-slide {
  min-height: calc(80vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#root .workSection .swiper-wrapper .enfp {
  background: url("../img/swiper1.png") no-repeat center;
  background-size: cover;
  color: white;
}
@media (max-width: 768px) {
  #root .workSection .swiper-wrapper .enfp {
    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
  }
}
#root .workSection .swiper-wrapper .versatile {
  background: url("../img/swiper1.png") no-repeat center;
  background-size: cover;
  color: white;
}
@media (max-width: 768px) {
  #root .workSection .swiper-wrapper .versatile {
    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
  }
}
#root .workSection .swiper-wrapper .sensible {
  background: url("../img/swiper1.png") no-repeat center;
  background-size: cover;
  color: white;
}
@media (max-width: 768px) {
  #root .workSection .swiper-wrapper .sensible {
    background-image: url(https://img.cjthemarket.com/images/file/display/084/20220901181851256.png?RS=1920x500);
  }
}
#root .workSection .swiper-scrollbar-horizontal {
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.swipertextbox {
  position: absolute;
  left: 10rem;
  top: 5rem;
}

.logolist {
  width: 10rem;
  display: flex;
}/*# sourceMappingURL=layout.css.map */